<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="restforms2-ui.zpm">
    <Module>
      <Name>restforms2-ui</Name>
      <Version>0.9.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <CSPApplication
        Url="/restforms2-ui"
        SourcePath="/dist"
        DeployPath="${cspdir}restforms2-ui"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/restforms2-ui"
        UseCookies="2"
        MatchRoles=":${dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
       />
    </Module>

  </Document>
</Export>
