@import "src/scss/variables";

:host {
    @include screen;
}

// Main table
table {
    width: 100%;
}

// Title text
h1 {
    font-family: $font;
    font-size: 18px;
    padding: 0;
    margin: 0;
    // margin: 0 0 20px;
    color: var(--cl-form-txt);
    width: 100%;
}

// Title row
.headline {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    align-items: center;
    width: 100%;
    color: var(--cl-form-txt);
}

// Search container
.search {
    position: relative;

    // Search icon
    & > mat-icon {
        pointer-events: none;
        margin-top: 4px;
        margin-left: 4px;
        position: absolute;
        opacity: 0.6;
    }
}

// Search input
input {
    font-family: $font;
    width: 150px;
    box-shadow: none;
    background-color: #eaeaea;
    padding: 2px 10px 2px 30px;

    // Input placegolder
    &::placeholder {
        font-family: $font;
    }

    // Remove border for non focused input
    &:not(:focus) {
        border: none;
    }

    // Fix text jump on focus(because there is border 2px)
    &:focus {
        padding-left: 28px;
    }

    // Remove clear button
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance:none;
    }
}

// Table columns
td, th {
    font-family: $font;
}

// Table row style
tr[mat-row] {
    cursor: pointer;
    background-color: transparent;
    transition: background-color $animSpeed linear;
    &:hover {
        background-color: var(--cl-row-hover);
    }
}

// Rows count on title
.count {
    border-radius: 2px;
    // background-color: var(--cl-form-txt);
    background-color: #eaeaea;
    color: #666666;
    // color: white;
    padding: 0 4px;
    opacity: 0.5;
}

// No data message
.no-data {
    font-family: $font;
    color: var(--cl-form-txt);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

// Paging
mat-paginator {
    width: 100%;
}

.btn-settings {
    width: $inputHeight;
    min-width: auto;
    padding: 0;
    color: #666666;
    flex-shrink: 0;
    margin-right: 10px;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    & > mat-icon {
        margin: 0;
        opacity: 0.5;
    }
}

.btn-success {
    margin-left: auto;
    margin-right: 10px;
}

.actions {
    width: 100px;
    padding-right: 0 !important;
    & > .btn {
        border: none;
        outline: none;
        display: none;
        box-shadow: none;
        transform: none;
        width: 40px;
        height: 40px;
        min-width: 40px;
        // display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        & > mat-icon {
            margin-left: 0;
        }
    }
}

tr:hover > .actions > .btn {
    display: flex;
}
