<!-- Headline -->
<div class="headline">

    <!-- Back button -->
    <button *ngIf="backUrl" (click)="goBack()" class="btn-back" title="Back">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <!-- Title with count -->
    <h1>{{params?.class}} {{title}} <span [hidden]="isLoading" class="count">{{dataSource.filteredData.length}}</span></h1>

    <!-- Action buttons -->
    <button *ngIf="!isLoading && isCreate" class="btn btn-success" (click)="onCreateClick()"><mat-icon>add</mat-icon>Create</button>
    <button *ngIf="!isLoading && isSettings" class="btn btn-settings"><mat-icon>settings</mat-icon></button>

    <!-- Search filed -->
    <div class="search" [style.visibility]="isLoading ? 'hidden' : 'visible'">
        <mat-icon>search</mat-icon>
        <input (keyup)="applyFilter($event)" type="search" placeholder="Search" rfBlurOnEnter>
    </div>
</div>

<!-- Main table -->
<table mat-table [dataSource]="dataSource" matSort [matSortActive]="columnsData[0]" matSortDirection="asc" matSortDisableClear>

    <!-- Columns -->
    <ng-container [matColumnDef]="col" *ngFor="let col of columnsData; let idx = index">
        <th mat-header-cell *matHeaderCellDef [class.actions]="col === 'actions'" mat-sort-header> {{columnsTitle[idx]}} </th>
        <td
            mat-cell
            *matCellDef="let row"
            [class.actions]="col === 'actions'"
        >
            {{row[col]}}
            <button *ngIf="col === 'actions'" class="btn btn-text" (click)="onDeleteClick(row, $event)">
                <mat-icon>close</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Table header -->
    <tr mat-header-row *matHeaderRowDef="columnsData"></tr>

    <!-- Table rows -->
    <tr mat-row [hidden]="isLoading" *matRowDef="let row; columns: columnsData;" (click)="onRowClick(row, $event)"></tr>
</table>

<!-- Loading Spinner -->
<img [hidden]="!isLoading" src="/assets/spinner.svg">
<!--<mat-spinner [hidden]="!isLoading" diameter="60"></mat-spinner>-->

<!-- No data message -->
<div class="no-data" *ngIf="dataSource.filteredData.length === 0 && !isLoading">No data to display</div>

<!-- Paginator -->
<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
