:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 100%;
    width: 100%;
}

// Container for errors messages
.errors {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    width: 30vw;
    right: 10px;
    top: 0;
    bottom: 0;
}
