@import "~material-design-icons/iconfont/material-icons.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "variables";
@import "controls";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font;
    background: var(--cl-bg);
    background-attachment: fixed;
    overflow-x: hidden;
    // background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    & * {
        box-sizing: border-box;
    }
}

// Hidden style
[hidden] {
    display: none !important;
}

.mat-tooltip {
    font-family: $font;
    font-size: 14px;
}
