$font: "Roboto Condensed";
$animSpeed: 0.2s;
$inputHeight: 30px;

$content-width: 1120px;
$button-height: 36px;

:root {
    --cl-bg: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);

    --cl-txt-main: black;
    --cl-txt: #7c7c7c;
    --cl-txt-btn: white;
    --cl-accent: #4fb6ff;
    --cl-error: #d11818;

    --input-border-radius: 4px;

    // Button
    --cl-btn-bg: #5c7db8;
    --cl-btn-border: #4c5dae;
    --cl-btn-hover: #7192d1;

    // Header
    --header-height: 58px;
    --cl-header-bg: #315fa6;
    --cl-header-txt: white;
    --cl-header-btn-hover: rgba(255, 255, 255, 0.15);

    // Forms
    --cl-form-txt: #666666;

    // Table
    --cl-row-hover: rgba(0, 0, 0, 0.05);
}


@mixin screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--header-height) + 50px);
    margin-bottom: 20px;
    width: $content-width;
    height: 100%;
    flex-shrink: 1;
    background: white;
    padding: 20px 20px 10px;
    box-shadow: #00000045 0 0 4px 0;
    border-radius: 2px;

    // Title text
    & h1 {
        font-family: $font;
        font-size: 18px;
        padding: 0;
        margin: 0;
        // margin: 0 0 20px;
        color: var(--cl-form-txt);
        width: 100%;
    }

    // Title row
    & > .headline {
        display: flex;
        justify-content: space-between;
        // align-items: flex-start;
        align-items: center;
        width: 100%;
        color: var(--cl-form-txt);
    }

    & .btn {
        margin-right: 20px;
        margin-left: auto;
        height: $inputHeight;
        min-width: 100px;
        padding: 0 10px;
    }

    & .btn-back {
        padding: 0;
        display: flex;
        align-items: center;
        border: none;
        background: #ffffff;
        color: var(--cl-form-txt);
        height: 100%;
        cursor: pointer;
        width: 48px;
        justify-content: center;
        transform-origin: center center;
        //transition: transform $animSpeed linear;
        outline: none;
        &:hover {
            filter: brightness(1.1);
        }
        &:active {
            transform: translateY(1px);
        }
    }

    // Loading spinner
    & mat-spinner {
        margin-top: 60px;
        margin-bottom: 40px;
    }

}
